python-dotenv==0.21.0
requests==2.31.0
spotipy==2.22.1


kafka-python==2.0.2
boto3==1.28.28
snowflake-connector-python==3.0.4

dbt-core==1.5.1
dbt-snowflake==1.5.1

apache-airflow==2.6.2

pyspark==3.4.1

